<div class="container pt-4">
    <div class="row">
        <div class="col-12 col-md-8">
            <form [formGroup]="boatForm" (ngSubmit)="onSubmit()" novalidate>
                <img [src]="boatForm.get('thumb')?.value.src || 'https://placehold.co/200x200'" width="250"
                    alt="User Image" class="profile-img" />
                <div>
                    <label for="name">Name:</label>
                    <input id="name" formControlName="name" type="text" />
                    @if (boatForm.get('name')?.touched && boatForm.get('name')?.invalid) {
                    <div class="text-danger">
                        @if (boatForm.get('name')?.errors?.['required']) {
                        <small>Name is required.</small>
                        }
                        @if (boatForm.get('name')?.errors?.['minlength']) {
                        <small>
                            Name must be at least 3 characters.
                        </small>
                        }
                    </div>
                    }
                </div>

                <div>
                    <label for="content">Content:</label>
                    <textarea id="content" formControlName="content"></textarea>
                    @if (boatForm.get('content')?.touched && boatForm.get('content')?.invalid) {
                    <div class="text-danger">
                        @if (boatForm.get('content')?.errors?.['required']) {
                        <small>Content is required.</small>
                        }
                        @if (boatForm.get('content')?.errors?.['maxlength']) {
                        <small>
                            Content cannot exceed 500 characters.
                        </small>
                        }
                    </div>
                    }
                </div>

                <fieldset formGroupName="thumb" class="flex-grow-1">
                    <legend>Thumbnail</legend>
                    <div>
                        <label for="thumb-src">Source:</label>
                        <input id="thumb-src" formControlName="src" type="text" />
                        @if (boatForm.get('thumb.src')?.touched && boatForm.get('thumb.src')?.invalid) {
                        <div class="text-danger">
                            @if (boatForm.get('thumb.src')?.errors?.['required']) {
                            <small>Source URL is required.</small>
                            }
                            @if (boatForm.get('thumb.src')?.errors?.['pattern']) {
                            <small>Enter a valid URL.</small>
                            }
                        </div>
                        }
                    </div>

                    <div>
                        <label for="thumb-title">Title:</label>
                        <input id="thumb-title" formControlName="title" type="text" />
                        @if (boatForm.get('thumb.title')?.touched && boatForm.get('thumb.title')?.invalid) {
                        <div class="text-danger">
                            @if (boatForm.get('thumb.title')?.errors?.['required']) {
                            <small>Title is required.</small>
                            }
                            @if (boatForm.get('thumb.title')?.errors?.['minlength']) {
                            <small>
                                Title must be at least 2 characters.
                            </small>
                            }
                        </div>
                        }
                    </div>
                </fieldset>

                <div>
                    <legend>Location</legend>
                    <div class="col-2">
                        <label for="anchorRadius">Anchor Radius:</label>
                        <input id="anchorRadius" formControlName="anchorRadius" type="number" />
                    </div>
                    <app-map formControlName="location" [anchorRadius]="boatForm.get('anchorRadius')?.value"></app-map>
                </div>

                <button type="submit">Update Boat</button>
            </form>
        </div>
        <div class="col-12 col-md-4">
            <app-reviews-preview-list [reviews]="reviews"></app-reviews-preview-list>
        </div>
    </div>