.modal-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modal {
  position: initial;
  display: block;
  background: white;
  height: auto;
  padding: 1rem 2rem;
  border-radius: 8px;
  max-width: 400px;
  text-align: center;
}
