<div class="container boats-list">
    @if (!(boats$ | async)) {
    <p>Loading...</p>
    } @else {

    @for (boat of (boats$ | async); track boat.id) {
    <div class="boat-item col-8">
        <img src="{{ boat.thumb?.src }}" width="250" alt="{{ boat.name }} thumbnail" class="boat-thumb" />
        <div>
            <h3>{{ boat.name }}</h3>
            <p>{{ boat.content }}</p>
            <p>Reviews: {{ boat?.reviews?.length }}</p>
            <div class="boat-footer">
                @if (boat.owner === currentUser()?.id) {
                <a class="btn btn-primary btn-sm me-2" [routerLink]="['/my-boats', 'edit', boat.id]">Edit</a>
                <button class="btn btn-danger btn-sm" (click)="onDeleteBoat(boat.id)">Delete</button>
                } @else {
                <a class="btn btn-secondary btn-sm" [routerLink]="['/boats', boat.id]">View Boat</a>
                }
            </div>
        </div>
    </div>
    }
    }
</div>