<div class="boats-list">
    @if (!(boats$ | async)) {
    <p>Loading...</p>
    } @else {

    @for (boat of (boats$ | async); track boat.id) {
    <div class="boat-item">
        <a [routerLink]="['/boats', boat.id]">

            <img src="{{ boat.thumb?.src }}" width="250" alt="{{ boat.name }} thumbnail" class="boat-thumb" />
        </a>
        <div>
            <div class="d-flex justify-content-between">

                <h3>
                    <a [routerLink]="['/boats', boat.id]">
                        {{ boat.name | titlecase }}
                    </a>
                </h3>
                <div>
                    @if (boat.owner === currentUser()?.id) {
                    <a class="btn btn-primary btn-sm me-2" [routerLink]="['/my-boats', 'edit', boat.id]">
                        <i class="bi bi-pencil"></i>
                    </a>
                    <button class="btn btn-danger btn-sm" (click)="onDeleteBoat(boat.id)">
                        <i class="bi bi-trash"></i>
                    </button>
                    }
                </div>
            </div>
            <p>{{ boat.content }}</p>
            <p>Reviews: {{ boat?.reviews?.length }}</p>
            <div class="boat-footer">
            </div>
        </div>
    </div>

    }
    }
    @if ((boats$ | async)?.length === 0) {
    <div class="d-flex flex-column align-items-center pt-4">
        <p>No boats found.</p>
        <a class="btn btn-success" [routerLink]="['/my-boats', 'add']">
            <i class="bi bi-plus"></i> Add a Boat
        </a>
    </div>
    }

</div>