<div class="container">
  @if (!boats || boats.length === 0) {
  <p>Loading...</p>
  } @else {
  @if (boats && boats.length > 0) {
  @for (boat of boats; track boat.id) {
  <div class="boat-item col-8">
    <img src="{{ boat.thumb.src }}" width="250" alt="{{ boat.name }} thumbnail" class="boat-thumb" />
    <div>
      <h3>{{ boat.name }}</h3>
      <p>{{ boat.content }}</p>
      <p>Reviews: {{ boat?.reviews?.length }}</p>
      <div class="boat-footer"></div>
    </div>
    <!-- <p>Owner: {{ boat.owner }}</p> -->
  </div>
  }
  } @else {
  <p>No boats found.</p>
  }
  }

</div>